@model IEnumerable<baithuchanh04.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Thông tin Employee</h1>

<p>
    <a asp-action="Create">Tao moi Employee</a> <br>
    <a asp-action="Upload">Upload excel</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
